{% extends "layout.html" %} {% block content %}
<div class="page-wrapper entertainment">
    <div class="block-header">
        <h2 class="title">ENTERTAINMENT</h2>
    </div>
    <div class="container">
        <div class="slider-block slider-type1 row-reverse">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KARAOKE</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KARAOKE</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">KARAOKE</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/1.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="slider-block slider-type1 gray-bg">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">DISCO CLUB</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">UŞAQ ƏYLƏNCƏSİ</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">UŞAQ ƏYLƏNCƏSİ</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/2.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="slider-block slider-type1 row-reverse">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">UŞAQ ƏYLƏNCƏSİ</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/3.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">UŞAQ ƏYLƏNCƏSİ</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/3.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">UŞAQ ƏYLƏNCƏSİ</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/entertainment/3.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
