{% extends "layout.html" %} {% block content %}
<div class="page-wrapper meeting-room">
    <div class="block-header">
        <h2 class="title">MEETINGS & EVENTS</h2>
    </div>
    <div class="container">
        <div class="slider-block slider-type1 p-0">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Discover genuine luxury and exceptional world-class service of Basqal Resort & Spa. The hotel area is spread across 18 ha of green forest. The inviting façade of the building in alpine style and the hotel’s cozy lobby represent rustic interiors with an array of unique design elements in an authentic Azerbaijani style. The spacious lobby seating area is a place to relax and unwind with a cup of Azerbaijani tea with traditional sweets.</div>
                                <div>Basqal Resort & Spa consists of 179 comfortable rooms & suites and four stand-alone 3-bedroom cottages for a sublime stay of a family of five persons and 1 VIP cottage with a private outdoor plunge pool. </div>
                                <div>The hotel offers a diversity of dining options: three restaurants with various cuisines, indoor and outdoor kids clubs, various playgrounds, a Grand Ballroom for up to 1000 guests, a conference hall for different kinds of events for 120 guests. The spacious Basqal Spa is the gem of the Basqal Resort & Spa.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Discover genuine luxury and exceptional world-class service of Basqal Resort & Spa. The hotel area is spread across 18 ha of green forest. The inviting façade of the building in alpine style and the hotel’s cozy lobby represent rustic interiors with an array of unique design elements in an authentic Azerbaijani style. The spacious lobby seating area is a place to relax and unwind with a cup of Azerbaijani tea with traditional sweets.</div>
                                <div>Basqal Resort & Spa consists of 179 comfortable rooms & suites and four stand-alone 3-bedroom cottages for a sublime stay of a family of five persons and 1 VIP cottage with a private outdoor plunge pool. </div>
                                <div>The hotel offers a diversity of dining options: three restaurants with various cuisines, indoor and outdoor kids clubs, various playgrounds, a Grand Ballroom for up to 1000 guests, a conference hall for different kinds of events for 120 guests. The spacious Basqal Spa is the gem of the Basqal Resort & Spa.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Discover genuine luxury and exceptional world-class service of Basqal Resort & Spa. The hotel area is spread across 18 ha of green forest. The inviting façade of the building in alpine style and the hotel’s cozy lobby represent rustic interiors with an array of unique design elements in an authentic Azerbaijani style. The spacious lobby seating area is a place to relax and unwind with a cup of Azerbaijani tea with traditional sweets.</div>
                                <div>Basqal Resort & Spa consists of 179 comfortable rooms & suites and four stand-alone 3-bedroom cottages for a sublime stay of a family of five persons and 1 VIP cottage with a private outdoor plunge pool. </div>
                                <div>The hotel offers a diversity of dining options: three restaurants with various cuisines, indoor and outdoor kids clubs, various playgrounds, a Grand Ballroom for up to 1000 guests, a conference hall for different kinds of events for 120 guests. The spacious Basqal Spa is the gem of the Basqal Resort & Spa.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/1.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="slider-block slider-type1 row-reverse">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/2.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/2.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="slider-block slider-type1 gray-bg">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/3.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/3.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/meeting-room/3.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="table-wrap">
            <div class="block-header">
                <h2 class="title">Toplantı otaqlarının qonaq qəbul etmə imkanı </h2>
            </div>
            <div class="tbl">
                <div class="header">
                    <div>Zalın adı</div>
                    <div>U şəkilli</div>
                    <div>P şəkilli</div>
                    <div>Teatral</div>
                    <div>Sinif otağı</div>
                </div>
                <div class="tbdy">
                    <div class="d-flex">
                        <div>Meet 1</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                    <div class="d-flex">
                        <div>Meet 2</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                    <div class="d-flex">
                        <div>Meet 3</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                        <div>100 nəfər</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
