{% extends "layout.html" %} {% block content %}
<div class="page-wrapper offer">
    <div class="container">
        <div class="block-header">
            <h2 class="title">SPECIAL OFFERS</h2>
        </div>
        <div class="slider-block slider-type1 row-reverse">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 1</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 1</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 1</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
        <div class="slider-block slider-type1">
            <div class="slider">
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 2</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 2</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
                <div>
                    <div class="slider-overlay">
                        <div class="slider-side">
                            <h2 class="title">OFFER 2</h2>
                            <div class="desc">
                                <div>Enjoy a large variety of delicious breakfast buffets with
                                    fresh bakeries, a selection of egg, cold cuts, and hot
                                    dishes from around the world cuisines.</div>
                            </div>
                            <div class="btn-wrap">
                                <a class="btn" href="">ƏTRAFLI</a>
                                <div class="my-controls">
                                    <button type="button" class="prew"></button>
                                    <button type="button" class="next"></button>
                                </div>
                            </div>
                        </div>
                        <a href="" class="slider-img"><img src="images/sample/offers/1.png"></a>
                    </div>
                </div>
            </div>
            <div class="my-controls">
                <button type="button" class="prew"></button>
                <button type="button" class="next"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
